<!DOCTYPE html>
<html>
<head>
  <title>Referral Email</title>
</head>
<body>
  <h1>Refer a Friend</h1>
  <p>Hello,</p>
  <p>You have been invited to join our platform. Click the link below to sign up and get started!</p>
  <a href="http://localhost:3000/signup">Join Now</a>
  <p>Thank you for using our platform!</p>
</body>
</html>
