@import "react-toastify/dist/ReactToastify.min.css";

.body {
  background-color: gray;
}
body {
  background: #e2e1e0;
  text-align: center;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  padding: 2rem;
  position: relative;
}

.container {
  background-color: white;
  border-radius: 5px;
  margin: 172px;
}

.small-container {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 280px;
}
